body {
	background-color: white
}

h1 {
	border: 2px solid white;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 45px;
	margin-top: 20px;
	padding: 15px;
	letter-spacing: 3px;
}



/******  Input Area  ******/
/*form {
	margin: 0;
}*/

input {
	display: inline-block;
	height: 25px;
	width: 350px;
	text-indent: 7px;
	margin-top: 20px;
	font-size: 15px;
	letter-spacing: 1px;
}

input:hover {
	border-color: rgba(230, 126, 34,.5);
}


#button {
	position: relative;
	margin: 0px 6px 0px 2px;
	top: 4px;
	display: inline-block;
	padding-top: 0px;
	border-radius: 28%;
	border: 2px solid #16a085;
	background-color: white;
	text-align: center;
	cursor: pointer;
	color: #16a085;
}

#button p {
	display: inline-block;
	margin: 0 auto;
	/*height: 10px;*/
	width: 28px;
	font-weight: 900;
	font-size: 30px;
	line-height: 23px;
}

#button:hover {
	background-color: #16a085;
	color: white;
	font-weight: bolder;
}

/******  Area where items appear  ******/
ul {
	display: inline-block;
	position: relative;
	top: 10px;
	left: -22px;
	width: 350px;
	font-family: helvetica, sans-serif;
	color: white;
	font-size: 1.1em;
	padding: 0;
	list-style: none;
	/*border: 1px solid red;*/
	/*text-align: left;*/
}

.item {
	/*position: relative;*/
	/*display: inline-block;*/
	/*width: 350px;*/
	float: left;
	/*clear: both;*/
	/*left: .50em;*/
	padding: 5px 0;
	/*margin-top: 10px;*/
	/*border: 1px solid blue;*/
}

.item:hover {
	cursor: pointer;
}

.list-wrap {
	display: inline-block;
	background-color: rgba(0,0,0,.3);
	width: 500px;
	height: 500px;
	padding: 60px;
	margin-top: -50px;
	/*border: 1px solid red;*/
}

.strike {
	text-decoration: line-through;
	color: rgba(255,255,255,.5);
}

.hover {
	background-color: red;
}

/******  Edit + Delete  ******/

.edit:hover{
	cursor: pointer;
	color: orange;
}

.delete:hover {
	cursor: pointer;
	color: orange;
}

.edit {
	position: relative;
	float: right;
	clear: both;
	top: -25px;
	left: -85px;
	width: 50px;
	border: 2px solid white;
	font-family: 'Ubuntu Mono', sans-serif;
	/*color: red;*/
	text-decoration: none;
	font-size: 16px;
	padding: 3px;
}

.delete {
	position: relative;
	float: right;
	top: -51px;
	clear: both;
	border: 2px solid white;
	font-family: 'Ubuntu Mono', sans-serif;
	/*color: red;*/
	text-decoration: none;
	font-size: 16px;
	width: 67px;
	padding: 3px;
}


/******  Background image container  ******/
.main {
	background-image: url(../images/desert-morning-background.jpg);
	background-size: cover;
	margin-top: 50px;
	background-position: center;
	max-width: 100%;
	height: auto;
	text-align: center;
	/*padding: 60px;*/
}

